* {
	font-family: arial
}
nav.navi {
	background-color: rgb(0,175,255);
	padding: 20px;
}

a.link {
	margin: 2px;
	padding: 5px;
	background-color: skyblue;
	color: black;
	font-weight: bold;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}

a.link:hover {
	color: white;
}