* {
	font-family: arial
}
nav.navi {
	background-color: rgb(0,175,255);
	border-radius: 25px;
}

a.link {
	color: skyblue;
	font-weight: bold;
	text-decoration: none;
}

a.link:hover {
	color: white;
}